*.png filter=lfs diff=lfs merge=lfs -text
saved_modelsNEWW/** filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zip[[:space:]]*.npz[[:space:]]*.png filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
